<!-- Update Insert Modal -->
<div class="modal fade" id="updateInsertModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<table class="table">
					<tbody>
						<tr>
							<td><label>Name:</label></td>
							<td><input type="text" placeholder="Name"
								ng-model="recordToUpdate.name" value="{{recordToUpdate.name}}" /></td>
						</tr>
						<tr>
							<td><label>Active ( 0 | 1 ):</label></td>
							<td><input type="text" placeholder="Active ( 1 or 0 )"
								ng-model="recordToUpdate.active"
								value="{{recordToUpdate.active}}" /></td>
						</tr>
						<tr>
							<td><label>Contest Group:</label></td>
							<td><textarea type="text" placeholder="<Group1 Type>-<Group1 Name>-<Time Limit Name>,...|<Judge1(Chief)>;<Judge(Penalty Chief)>,<Judge2>,...<Last Judge(Timer)|<Location Name>|<Score Type(去頭截尾|通通都要)>
演講-第一組-45秒至2分鐘,演講-表演組-45秒至2分鐘,演講-第三組-45秒至2分鐘,演講-第四組-1分30秒至3分鐘,演講-第五組-1分30秒至3分鐘,演講-第六組-1分30秒至3分鐘|楊維琍;仲芳琦,秦淑芬,楊芳宜,林麗文,張莉莉,侯珞怡,黃靜慧,仲芳琦|八年級/高年級教室|去頭截尾
朗讀-第九組-30秒至2分鐘,演講-第二組-45秒至2分鐘,朗讀-第十組-45秒至3分鐘,朗讀-第十一組-45秒至3分鐘|陳翎玥,洪文君,洪宣淇,尹昌舜,陳康妮,黃玫瑛,傅霈蒂,Gregg Ong|pre-CFL/CFLII 教室|去頭截尾
看圖說故事-第七組-1分30秒至3分鐘|陳翎玥;仲芳琦,吳宣萱,何玉梅,馬文豪,陳康妮,陳臻,馮玫華,Gregg Ong|八年級/高年級教室|去頭截尾
看圖說故事-第八組-1分30秒至3分鐘|楊維琍;仲芳琦,吳宣萱,洪宣淇,劉怡均,鄭淑儀,楊舒媛,陳臻,Gregg Ong|八年級/高年級教室|去頭截尾"
									ng-model="recordToUpdate.contestGroups"
									value="{{recordToUpdate.contestGroup}}" rows="10" cols="60%"></textarea></td>
						</tr>
						<tr>
							<td><label>Command:</label></td>
							<td><textarea type="text" placeholder="1. allJudgePins / 2. resetJudgePins"
									ng-model="recordToUpdate.command"
									value="{{recordToUpdate.command}}" rows="3" cols="60%"></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button ng-click="submitUpdate(recordToUpdate)" type="button"
					class="btn btn-primary" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	Filter: <input ng-model="filterText" type="text"><br>
	<table class="table table-striped"
		ng-init="predicate = 'chineseLastName'">
		<thead>
			<tr>
				<th><a href=""
					ng-click="predicate = 'name';
					reverse=!reverse">Name</a></th>
				<th><a href=""
					ng-click="predicate = 'weight';
					reverse=!reverse">Active</a></th>
				<th>action <a class="btn btn-default btn-sm" href=""
					ng-click='doCreate()' data-toggle="modal"
					data-target="#updateInsertModal"> <i class="fa fa-plus fa-lg"></i></a></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="record in records | filter:filterText | orderBy:predicate:reverse">
				<td>{{record.name}}</td>
				<td>{{record.active}}</td>
				<td><a ng-click='doUpdate(record)' data-toggle="modal"
					data-target="#updateInsertModal" class="btn btn-default btn-sm"
					href=""> <i class="fa fa-pencil fa-lg"></i>
				</a><a ng-click='doDelete(record)' class="btn btn-danger btn-sm"> <i
						class="fa fa-trash-o fa-lg"></i>
				</a></td>
			</tr>
		</tbody>
	</table>
</div>
