<!-- Update Insert Modal -->
<div class="modal fade" id="updateInsertModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<table class="table">
					<tbody>
						<tr>
							<td><label>演講題目 Filter:</label></td>
							<td><input type="text"
								ng-model="speechTitleSelectFilterText" /></td>
						</tr>

						<tr>
							<td><label>演講題目:</label></td>
							<td><select class="form-control"
								ng-model="recordToUpdate.contestor"
								ng-options="(contestor.speechTitle+'-順序:'+contestor.contestOrder) group by (contestor.contestGroup.contest.name+'-'+contestor.contestGroup.name) for contestor in contestors | filter:speechTitleSelectFilterText">
									<option value="">-- Please Select one --</option>
							</select></td>
						</tr>
						<tr>
							<td><label>學生 Filter:</label></td>
							<td><input type="text" ng-model="studentSelectFilterText" /></td>
						</tr>
						<tr>
							<td><label>學生:</label></td>
							<td><select class="form-control"
								ng-model="recordToUpdate.student"
								ng-options="(student.chineseLastName+''+student.chineseFirstName+'-'+student.englishLastName+', '+student.englishFirstName ) group by student.gradYear.name for student in students | filter:studentSelectFilterText">
									<option value="">-- Please Select one --</option>
							</select></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button ng-click="submitUpdate(recordToUpdate)" type="button"
					class="btn btn-primary" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	Filter: <input ng-model="filterText" type="text"><br>
	<table class="table table-striped" ng-init="predicate = 'speechTitle'">
		<thead>
			<tr>
				<th><a href=""
					ng-click="predicate = 'contestor.contestOrder';
					reverse=!reverse">演講題目</a></th>
				<th><a href=""
					ng-click="predicate = 'student.chineseFirstName';
					reverse=!reverse">學生</a></th>
				<th>action <a class="btn btn-default btn-sm" href=""
					ng-click='doCreate()' data-toggle="modal"
					data-target="#updateInsertModal"> <i class="fa fa-plus fa-lg"></i></a></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="record in records | filter:filterText | orderBy:predicate:reverse">
				<td>{{record.contestor.speechTitle}} -
					{{record.contestor.contestGroup.name}} - 順序{{record.contestor.contestOrder}}</td>
				<td>{{record.student.chineseLastName}}{{record.student.chineseFirstName}}-{{record.student.englishLastName}},{{record.student.englishFirstName}}</td>
				<td><a ng-click='doUpdate(record)' data-toggle="modal"
					data-target="#updateInsertModal" class="btn btn-default btn-sm"
					href=""> <i class="fa fa-pencil fa-lg"></i>
				</a><a ng-click='doDelete(record)' class="btn btn-danger btn-sm"> <i
						class="fa fa-trash-o fa-lg"></i>
				</a></td>
			</tr>
		</tbody>
	</table>
</div>
