<!-- Update Insert Modal -->
<div class="modal fade" id="updateInsertModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<table class="table">
					<tbody>
						<tr>
							<td><label>姓:</label></td>
							<td><input type="text" placeholder="姓"
								ng-model="studentToUpdate.chineseLastName"
								value="{{studentToUpdate.chineseLastName}}" /></td>
						</tr>
						<tr>
							<td><label>名:</label></td>
							<td><input type="text" placeholder="名"
								ng-model="studentToUpdate.chineseFirstName"
								value="{{studentToUpdate.chineseFirstName}}" /></td>
						</tr>
						<tr>
							<td><label>Last Name:</label></td>
							<td><input type="text" placeholder="Last Name"
								ng-model="studentToUpdate.englishLastName"
								value="{{studentToUpdate.englishLastName}}" /></td>
						</tr>
						<tr>
							<td><label>First Name:</label></td>
							<td><input type="text" placeholder="First Name"
								ng-model="studentToUpdate.englishFirstName"
								value="{{studentToUpdate.englishFirstName}}" /></td>
						</tr>
						<tr>
							<td><label>入學年次:</label></td>
							<td><input type="text" placeholder="入學年次"
								ng-model="studentToUpdate.gradYear"
								value="{{studentToUpdate.gradYear}}" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button ng-click="submitUpdate(studentToUpdate)" type="button"
					class="btn btn-primary" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	Filter: <input ng-model="filterText" type="text"><br>
	<table class="table table-striped" ng-init="predicate = 'gradYear'">
		<thead>
			<tr>
				<th><a href=""
					ng-click="predicate = 'chineseLastName';
					reverse=!reverse">姓</a></th>
				<th><a href=""
					ng-click="predicate = 'chineseFirstName';
					reverse=!reverse">名</a></th>
				<th><a href=""
					ng-click="predicate = 'englishLastName';
					reverse=!reverse">Last
						Name</a></th>
				<th><a href=""
					ng-click="predicate = 'englishFirstName';
					reverse=!reverse">First
						Name</a></th>
				<th><a href=""
					ng-click="predicate = 'gradYear';
					reverse=!reverse">入學年次</a></th>
				<th>action <a class="btn btn-default btn-sm" href=""
					ng-click='doCreate()' data-toggle="modal"
					data-target="#updateInsertModal"> <i class="fa fa-plus fa-lg"></i></a></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="student in students | filter:filterText | orderBy:predicate:reverse">
				<td>{{student.chineseLastName}}</td>
				<td>{{student.chineseFirstName}}</td>
				<td>{{student.englishLastName}},</td>
				<td>{{student.englishFirstName}}</td>
				<td>{{student.gradYear}}</td>
				<td><a ng-click='doUpdate(student)' data-toggle="modal"
					data-target="#updateInsertModal" class="btn btn-default btn-sm"
					href=""> <i class="fa fa-pencil fa-lg"></i>
				</a><a ng-click='doDelete(student)' class="btn btn-danger btn-sm"> <i
						class="fa fa-trash-o fa-lg"></i>
				</a></td>
			</tr>
		</tbody>
	</table>
</div>
