<!-- Update Insert Modal -->
<div class="modal fade" id="updateInsertModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<table class="table">
					<tbody>
						<tr>
							<td><label>比賽評分標準:</label></td>
							<td><select class="form-control"
								ng-model="recordToUpdate.scoreRule"
								ng-options="scoreRule.name for scoreRule in scoreRules">
									<option value="">-- Please Select one --</option>
							</select></td>
						</tr>
						<tr>
							<td><label>評比項目:</label></td>
							<td><input type="text" placeholder="評比"
								ng-model="recordToUpdate.name" value="{{recordToUpdate.name}}" /></td>
						</tr>
						<tr>
							<td><label>評分比例 ( % ):</label></td>
							<td><input type="text" placeholder="評分比例 ( % )"
								ng-model="recordToUpdate.weight"
								value="{{recordToUpdate.weight}}" /></td>
						</tr>
						<tr>
							<td><label>優先性:</label></td>
							<td><input type="text" placeholder="優先性"
								ng-model="recordToUpdate.priority"
								value="{{recordToUpdate.priority}}" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button ng-click="submitUpdate(recordToUpdate)" type="button"
					class="btn btn-primary" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	Filter: <input ng-model="filterText" type="text"><br>
	<table class="table table-striped"
		ng-init="predicate = 'chineseLastName'">
		<thead>
			<tr>
				<th><a href=""
					ng-click="predicate = 'scoreRule.name';
					reverse=!reverse">比賽評分標準</a></th>
				<th><a href=""
					ng-click="predicate = 'name';
					reverse=!reverse">評比項目</a></th>
				<th><a href=""
					ng-click="predicate = 'weight';
					reverse=!reverse">評分比例 </a></th>
				<th><a href=""
					ng-click="predicate = 'priority';
					reverse=!reverse">優先性 </a></th>
				<th>action <a class="btn btn-default btn-sm" href=""
					ng-click='doCreate()' data-toggle="modal"
					data-target="#updateInsertModal"> <i class="fa fa-plus fa-lg"></i></a></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="record in records | filter:filterText | orderBy:predicate:reverse">
				<td>{{record.scoreRule.name}}</td>
				<td>{{record.name}}</td>
				<td>{{record.weight}} %</td>
				<td>{{record.priority}}</td>
				<td><a ng-click='doUpdate(record)' data-toggle="modal"
					data-target="#updateInsertModal" class="btn btn-default btn-sm"
					href=""> <i class="fa fa-pencil fa-lg"></i>
				</a><a ng-click='doDelete(record)' class="btn btn-danger btn-sm"> <i
						class="fa fa-trash-o fa-lg"></i>
				</a></td>
			</tr>
		</tbody>
	</table>
</div>
